################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BorsukSoftware.Conical.Tools.PytestResultsUploader/.vs
/BorsukSoftware.Conical.Tools.PytestResultsUploader/bin
/BorsukSoftware.Conical.Tools.PytestResultsUploader/obj
